@charset "UTF-8";
/* CSS Start */
.header-image {
  padding: 10%;
}

.wof {
  width: 100%;
  height: auto;
}

.main-container {
  border: solid 2px;
  margin: 10px;
  max-width: 964px;
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
}

.color-bar {
  margin-top: 10px;
  max-height: 0.9em;
}

header {
  background-color: #ffffff;
}

section {
  background-color: #181818;
  color: #ffffff;
}

footer, footer a {
  background-color: #33abe1;
  color: #ffffff;
}

.main-container {
  border-color: #b9b6b7;
}

.btn-custom {
  background-color: #30aede;
  color: #ffffff;
}

.color-1 {
  background-color: #e96b58;
}

.color-2 {
  background-color: #ee9a41;
}

.color-3 {
  background-color: #fec559;
}

.color-4 {
  background-color: #a0b276;
}

.color-5 {
  background-color: #6f9d75;
}

.color-6 {
  background-color: #78cae6;
}

.color-7 {
  background-color: #899acd;
}

.color-8 {
  background-color: #87597e;
}

*, .btn {
  font-family: 'Calibri';
  font-size: 1.1em;
}

h1 {
  font-size: 7vh;
  font-weight: 700;
}

/* Base styles for simple browsers. */
@media only screen and (min-width: 320px) {
  /* Old phones */
}

@media only screen and (min-width: 480px) {
  /* Android, iPhone, etc. */
}

@media only screen and (min-width: 768px) {
  /* Tablets — portrait. */
}

@media only screen and (min-width: 992px) {
  /* Landscape tablets, notebooks, desktop. */
}

@media only screen and (min-width: 1382px) {
  /* Hires desktops, TVs. */
}

/* CSS End */
